## 问题与练习
### 1. 问题
#### 【问题一】 Series和DataFrame有哪些常见属性和方法？

- Series 常见属性： 
    - values :获取值，数组形式
    - name:  Series的name 
    - index: 获取索引
    - dtype: values 的类型

- DataFrame 常见属性：
    - index:行索引
    - columns:列索引
    - values：DataFrame 的值，array形式
    - shape:DataFrame的大小

- Series 常见方法：print([attr for attr in dir(s) if not attr.startswith('_')]) 
    - 常见：max  idxmax argmax add append agg drop diff mean  sort_index sort_values argsort

- DataFrame 常见方法:print([attr for attr in dir(df) if not attr.startswith('_')])
    - 常见：replace apply set_index  sort_values sort_values nlargest join 等

#### 【问题二】 value_counts会统计缺失值吗？

In [66]:
df = pd.DataFrame({'col1':list('abcde'),'col2':range(5,10),'col3':[1.3,2.5,3.6,4.6,None]},
                 index=list('一二三四五'))
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   NaN

In [67]:
print(df.col3.value_counts()) 
###没有统计缺失值

4.6    1
3.6    1
1.3    1
2.5    1
Name: col3, dtype: int64

#### 【问题三】 与idxmax和nlargest功能相反的是哪两组函数？

idxmax返回最大值对应的索引,相反的,idxmin返回最小值对应的索引;nlargest返回最大的n个值,相反地,nsmallest返回最小的n个值

- idxmin 和 nsmallest

#### 【问题四】 在常用函数一节中，由于一些函数的功能比较简单，因此没有列入，现在将它们列在下面，请分别说明它们的用途并尝试使用。

In [68]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'],name='这是一个Series',dtype='float64')
s

a    0.705604
b   -1.068664
c    0.124638
d   -0.220537
e    1.086483
Name: 这是一个Series, dtype: float64

In [69]:
print('求和 s.sum():',s.sum(),'\n')
print('求均值 s.mean():',s.mean(),'\n')
print('求中位数 s.median():',s.median(),'\n')
print('求绝对离差中位数，是单变量数据集中样本差异性的稳健度量 s.mad():',s.mad(),'\n')
print('求分位数 s.quantile():',s.quantile(),'\n')
print('返回一个DataFrame或Series轴上的累积最大值 s.cummax():','\n',s.cummax(),'\n')
print('返回一个DataFrame或Series轴上的累积和 s.cumsum():','\n',s.cumsum(),'\n')
print('返回一个DataFrame或Series轴上的累积乘积 s.cumprod():','\n',s.cumprod(),'\n')

求和 s.sum(): 0.6275239255553275

求均值 s.mean(): 0.1255047851110655

求中位数 s.median(): 0.12463818331177048

求绝对离差中位数，是单变量数据集中样本差异性的稳健度量 s.mad(): 0.6164310684285679

求分位数 s.quantile(): 0.12463818331177048

返回一个DataFrame或Series轴上的累积最大值 s.cummax():
 a    0.705604
b    0.705604
c    0.705604
d    0.705604
e    1.086483
Name: 这是一个Series, dtype: float64

返回一个DataFrame或Series轴上的累积和 s.cumsum():
 a    0.705604
b   -0.363060
c   -0.238422
d   -0.458959
e    0.627524
Name: 这是一个Series, dtype: float64

返回一个DataFrame或Series轴上的累积乘积 s.cumprod():
 a    0.705604
b   -0.754054
c   -0.093984
d    0.020727
e    0.022519
Name: 这是一个Series, dtype: float64

#### 【问题五】 df.mean(axis=1)是什么意思？它与df.mean()的结果一样吗？第一问提到的函数也有axis参数吗？怎么使用？
axis指定轴,0表示求每一列的均值,1表示求每一行的均值.

In [70]:
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   NaN

In [71]:
df.mean(axis=1)

一    3.15
二    4.25
三    5.30
四    6.30
五    9.00
dtype: float64

In [72]:
df.mean(axis=0)

col2    7.0
col3    3.0
dtype: float64

### 2. 练习
#### 【练习一】 现有一份关于美剧《权力的游戏》剧本的数据集，请解决以下问题：
#### （a）在所有的数据中，一共出现了多少人物？

In [73]:
Thrones=pd.read_csv('data//Game_of_Thrones_Script.csv')
Thrones.Name.nunique()

564

#### （b）以单元格计数（即简单把一个单元格视作一句），谁说了最多的话？

In [74]:
Thrones.Name.value_counts()
##tyrion lannister 说的最多，1760句

tyrion lannister        1760
jon snow                1133
daenerys targaryen      1048
cersei lannister        1005
jaime lannister          945
                        ...
slave buyer                1
rhaegar                    1
little sam                 1
shadow tower brother       1
tomard                     1
Name: Name, Length: 564, dtype: int64

#### （c）以单词计数，谁说了最多的单词？

In [75]:
import re 
Thrones['Sentence']= Thrones['Sentence'].apply(lambda x:re.sub('[^a-z]+', ' ', x.replace("n't", 'not').strip()))
Thrones['words_cnt']=Thrones.Sentence.apply(lambda x :len(x.split(' ')))

In [76]:
Thrones.groupby('Name').agg({'words_cnt':'sum'}).sort_values(by='words_cnt',ascending=False)
### tyrion lannister说的单词最多，29192个

                    words_cnt
Name
tyrion lannister        29192
cersei lannister        16341
jon snow                14455
daenerys targaryen      14105
jaime lannister         13636
...                       ...
title                       2
cold                        2
slave buyer                 2
main                        2
dothraki woman              2

[564 rows x 1 columns]

#### 【练习二】现有一份关于科比的投篮数据集，请解决如下问题：
#### （a）哪种action_type和combined_shot_type的组合是最多的？

In [77]:
kobe=pd.read_csv('data/Kobe_data.csv',index_col='shot_id')#index_col的作用是将某一列作为行索引
kobe.head(3)

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,...,shot_made_flag,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent
shot_id,,,,,,,,,,,,,,,,,,,,,
1,Jump Shot,Jump Shot,10,20000012,33.9723,167,72,-118.1028,10,1,...,NaN,2PT Field Goal,Right Side(R),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR
2,Jump Shot,Jump Shot,12,20000012,34.0443,-157,0,-118.4268,10,1,...,0.0,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR
3,Jump Shot,Jump Shot,35,20000012,33.9093,-101,135,-118.3708,7,1,...,1.0,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR

In [78]:
kobe.groupby(['action_type','combined_shot_type']).game_event_id.count().sort_values(ascending=False).head(3)
##Jump Shot + Jump Shot 最多， 18880条

action_type         combined_shot_type
Jump Shot           Jump Shot             18880
Layup Shot          Layup                  2567
Driving Layup Shot  Layup                  1978
Name: game_event_id, dtype: int64

#### （b）在所有被记录的game_id中，遭遇到最多的opponent是一个支？

In [79]:
tmp=kobe[['game_id','opponent']].drop_duplicates()
tmp.opponent.value_counts()[:3]
##SAS 最多，91次

SAS    91
PHX    87
UTA    84
Name: opponent, dtype: int64